@font-face {
  font-family: BitcountGrid;
  src: url('fonts/Bitcount/BitcountGridSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BitcountGrid;
}

:root {
  --col1: #180722;
  --col2: #580E2D;
  --col3: #4D2259;
  --col4: #40121F;
  --col5: #4E2D45;
  --col6: #d73030;
}


body {
  background-color: var(--col1);
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: BitcountGrid;
}

.logo {
  width: 250px;
  height: auto;
  margin-right: 20px;
}
.navbar li {
    margin: 0 10px;
}
li a {
    background-color: var(--col4);
    color: var(--col6);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 40px;
    transition: 0.3s ease;
    border-radius: 4px;
    
}

li a:hover{
    background-color: var(--col6);
    border-radius: 4px;
    color: var(--col1);
}
